.navbar {
    display: flex;
    justify-content: center;
  }
  
  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    margin-left: auto;
  }
  
  .navbar-right .form-control,
  .navbar-right .btn,
  .navbar-right .dropdown {
    margin-left: 0.5rem;
  }
 
  .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
/* Estilos para el modo claro (estilo original) */
body {
  background-color: rgb(255, 255, 255);
  color: black;
}


.img-container {
  position: relative;
  width: 100%;
  height: 14rem; /* Ajusta la altura según sea necesario */
  overflow: hidden; /* Asegura que las imágenes no se salgan del contenedor */
}
.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que las imágenes cubran el contenedor */
}
.card-body {
  position: relative;
  z-index: 1; /* Asegura que el contenido de la card esté por encima de las imágenes */
}

