<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preguntas Frecuentes</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #f7d1c4;">
        <div class="container">
          <a class="navbar-brand" href="../views/index.php" style="color: black;">
            <strong>Ahorrando®</strong>
          </a>
         
      </nav>
<div class="container mt-5">
  <h2 style="text-align: center;">Preguntas Frecuentes</h2><br>
  <div class="accordion" id="faqAccordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: black;">
           <strong>¿Se puede comprar en Ahorrando®?</strong> 
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqAccordion">
        <div class="card-body">
          No. Ahorrando® es una aplicacion web para cotizar y crear listas de compras para productos de diversos supermercados.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: black;">
           <strong>¿Cómo puedo registrarme en la aplicación?</strong> 
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
        <div class="card-body">
            Puedes registrarte haciendo clic en el botón <a href="../views/view-register.php">"Registrarse"</a>  en la página principal y completando el formulario con tus datos.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"style="color: black;">
          <strong> ¿Es necesario registrarse para usar la aplicación?</strong>
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAccordion">
        <div class="card-body">
          No. puedes usar la aplicacion sin registrarte, pero no podras optar a la opcion de crear listas de compras.
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"style="color: black;">
            <strong>   ¿Los precios mostrados son actualizados?</strong> 
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqAccordion">
          <div class="card-body">
            Mantenemos nuestros precios actualizados regularmente para ofrecerte la información más precisa posible.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="color: black;">
               <strong> ¿Puedo compartir mi lista con otras personas?</strong>
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqAccordion">
          <div class="card-body">
            Sí, puedes compartir tu lista a través de un whatsapp desde el apartado de listas de compras.
          </div>
        </div>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
